/* gradient container */

.features-bg {
    padding: 50px;
    /* background-image: url("../../assets/bg_images/bg_plain.jpeg"); */
    /* background-image: url("../../assets/bg_images/bg_services.jpeg"); */
    background-size: cover;
    background-position: center;
    /* border-radius:32px; */

    /* background: linear-gradient(135deg,
            #f4d7b4 0%,
            #efbfae 25%,
            #d2d9f6 60%,
            #c8efe8 100%); */

    /* box-shadow: 0 20px 60px rgba(0, 0, 0, .05); */
}


/* card */

.feature-card {
    position: relative;
    /* background: #fff; */

    /* border-radius: 26px; */
    padding: 4px 20px;
    /* padding: 20px; */
    /* padding:28px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, .06), 0 6px 4px rgb(255 129 0); */

    /* border: 1px solid #f39c4a; */
    /* border-left: 1px solid var(--main_bg); */

    transition: transform 0.3s ease;
    overflow: hidden;
    min-height: 170px;
    /* background: linear-gradient(rgb(255 207 0 / 18%), rgb(255 255 255 / 70%)), url('../../assets/bg_images/rays.jpg') center / cover no-repeat; */
}



.feature-card::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(90deg, rgba(166, 255, 0, 0.096), rgba(255, 255, 255, 0.468)),
        url('../../assets/bg_images/rays.jpg') center / cover no-repeat;

    background-size: 200% 100%, cover;
    background-position: 0% 0%, center;

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 0;
}

/* Hover effect */
.feature-card:hover {
    transform: translateY(-3px);
}

.feature-card:hover::before {
    opacity: 1;
    animation: gradientSlide 4s linear infinite;
}

/* Keep content above overlay */
.feature-card>* {
    position: relative;
    z-index: 1;
}

@keyframes gradientSlide {
    0% {
        background-position: 0% 0%, center;
    }

    100% {
        background-position: 100% 0%, center;
    }
}


/* .feature-card:hover h4 {
    color: #fff;
}

.feature-card:hover h4 span {
    color: #ece8d3;
} */

/* .feature-card:hover p {
    color: #fff;
} */


/* content */

.feature-content {
    flex: 1;
}

.feature-content h4 {
    font-size: 20px;
    /* font-size:18px; */
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--main_bg);
}

.feature-content h4 span {
    color: var(--bright_bg);
}

.feature-content p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}


/* image */

.feature-img {
    width: 95px;
    height: 95px;
    border-radius: 18px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}

.feature-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* melt shade effect */

.feature-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    height: 100%;
    width: 80px;

    background: linear-gradient(to left,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, .9),
            #fff);
}


/* optional soft glow */

.feature-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, .15),
            transparent);
    opacity: .6;
}


/* responsive */

@media(max-width:768px) {

    .features-bg {
        padding: 25px;
    }

    .feature-card {
        flex-direction: column;
        text-align: center;
    }

    .feature-img {
        width: 80px;
        height: 80px;
    }

}




.sct-accent-top2 {
    position: relative;
}


@media(max-width:768px) {
    .feature-card {
        border-left: 1px solid var(--main_bg);
    }

    .sct-accent-top2 {
        display: none;
    }


}

.sct-accent-top2 {
    position: relative;
}

.sct-accent-top2::before {
    content: '';
    position: absolute;
    top: -60px;
    /* top: -84px; */
    /* bottom: 0; */
    height: 120px;
    /* height: 172px; */
    left: -21px;
    width: 2px;
    background: linear-gradient(180deg, transparent, var(--main_bg) 25%, var(--main_bg) 75%, transparent);
    z-index: 1;
}