:root {
   --ve-dark: #020617;
   --ve-gold: rgb(55 193 22);
   /* --ve-gold: #fff; */
   /* --ve-gold: #fbbf24; */
   --ve-trans: all 0.3s ease;
}

/* FOOTER */
.ve-footer {
   /* background: linear-gradient(135deg, #020617, #0f172a, #1e1b4b); */
   padding: 90px 0 0;
   position: relative;
   overflow: hidden;
}

.mb-50 {
   margin-bottom: 50px;
}

/* LOGO */
.ve-footer-logo {
   display: inline-flex;
   align-items: center;
   gap: 10px;
   text-decoration: none;
}

.ve-logo-icon {
   color: #000;
   font-weight: bold;
   padding: 6px 10px;
   border-radius: 6px;
}

.ve-logo-text {
   color: #fff;
   font-weight: 600;
}

/* BRAND TEXT */
.ve-footer-brand p {
   font-size: 16px;
   color: var(--main_bg);
   /* color: rgba(255, 255, 255, 0.6); */
   line-height: 1.8;
   margin: 18px 0 24px;
}

/* SOCIAL */
.ve-social {
   display: flex;
   gap: 10px;
}

.ve-social a {
   width: 38px;
   height: 38px;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0.06);
   color: rgba(255, 255, 255, 0.6);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: var(--ve-trans);
   border: 1px solid rgba(255, 255, 255, 0.1);
}

.ve-social a:hover {
   background: var(--bright_bg);
   color: #000;
   transform: translateY(-3px);
}

/* TITLES */
.ve-footer-title {
   font-size: 14px;
   font-weight: 700;
   background: linear-gradient(170deg, var(--second_c), var(--title_c));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: shimmer 3s infinite linear;
   /* color: var(--main_bg); */
   /* color: #493932; */
   /* color: #fff; */
   margin-bottom: 20px;
   border-bottom: 1px solid var(--bright_bg);
   /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
   padding-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

/* LINKS */
.ve-footer-links {
   list-style: none;
   padding: 0;
}

.ve-footer-links li {
   margin-bottom: 10px;
}

.ve-footer-links a {
   color: var(--main_bg);
   /* color: rgba(255, 255, 255, 0.6); */
   text-decoration: none;
   transition: var(--ve-trans);
}

.ve-footer-links a:hover {
   color: var(--bright_bg);
   padding-left: 5px;
}

/* CONTACT */
.ve-footer-contact {
   list-style: none;
   padding: 0;
}

.ve-footer-contact li {
   color: var(--main_bg);
   margin-bottom: 12px;
   display: flex;
   gap: 10px;
}

.ve-footer-contact i {
   color: var(--ve-gold);
}

/* BOTTOM */
.ve-footer-bottom {
   margin-top: 30px;
   padding: 20px 0;
   border-top: 1px solid rgba(255, 255, 255, 0.1);
   background: #003135;
   /* background: var(--main_bg); */
   /* background: #493932; */
}

.ve-footer-bottom-inner {
   /* display: flex;
   justify-content: space-between;
   flex-wrap: wrap; */
}

.ve-footer-bottom-inner p {
   font-size: 15px;
   color: #fff;
   margin-bottom: 0px;
   text-align: center;
}

.ve-footer-bottom-inner ul {
   list-style: none;
   display: flex;
   gap: 20px;
   margin-bottom: 0px;
}

.ve-footer-bottom-inner a {
   color: #fff;
   text-decoration: none;
}

.ve-footer-bottom-inner a:hover {
   color: var(--ve-gold);
}

/* RESPONSIVE */
@media (max-width: 768px) {
   .ve-footer-bottom-inner {
      flex-direction: column;
      gap: 10px;
      text-align: center;
   }
}

/* =========================
   PREMIUM CURVED SHAPE
========================= */
.footer-curve {
   position: absolute;
   top: -80px;
   left: 0;
   width: 100%;
   height: 120px;
   background: #ffffff;
   border-bottom-left-radius: 60% 100%;
   border-bottom-right-radius: 60% 100%;
   z-index: 1;
}

/* footer base */
.ve-footer {
   position: relative;
   /* background: #ece8d3; */
   background: linear-gradient(#afdde5, rgba(255, 255, 255, 0.468)), url('../../assets/bg_images/bg_dots.png') center / contain no-repeat;

   /* background: #020617; */
   padding: 100px 0 0;
   overflow: hidden;
}

/* keep content above */
.ve-footer .container {
   position: relative;
   z-index: 2;
}



/* ================= CONTACT ================= */
.ve-footer-contact {
   list-style: none;
   padding: 0;
}

.ve-footer-contact li {
   display: flex;
   align-items: flex-start;
   gap: 12px;
   margin-bottom: 14px;
   font-size: 14px;
   color: var(--main_bg);
   /* color: #493932; */
   line-height: 1.6;
   padding: 8px 10px;
   border-radius: 10px;
   transition: 0.3s;
}

/* ICON STYLE */
.ve-footer-contact .icon {
   color: var(--main_bg);
   font-size: 16px;
   margin-top: 3px;
   min-width: 18px;
   transition: 0.3s;
}

/* LINKS */
.ve-footer-contact a {
   color: var(--main_bg);
   text-decoration: none;
   transition: 0.3s;
}

/* HOVER EFFECT */
.ve-footer-contact li:hover {
   background: rgba(79, 99, 57, 0.08);
}

.ve-footer-contact li:hover .icon {
   color: var(--bright_bg);
   /* color: #493932; */
}

.ve-footer-contact a:hover {
   color: var(--main_bg);
}



.f_shape {
   /* padding: 100px 0; */
   /* background: linear-gradient(135deg, var(--main_bg), #493932); */
   /* background: var(--main_bg); */
   position: relative;
   overflow: hidden;
}

/* background pattern */
.f_shape::before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0;
   width: 100%;
   height: 100%;
   background: url("../../assets/about/counter-two-bg-shape.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom;
   /* background-blend-mode: lighten; */
   filter: brightness(0) invert(1);
   animation: topBottom 3s ease-in-out infinite;
   /* opacity: 0.3; */
   /* z-index: 0; */
}

@keyframes topBottom {
   0% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-15px);
      /* move up */
   }

   100% {
      transform: translateY(0);
   }
}